span::before {
  content: "\201C";
  position: absolute;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.15);
  font-family: 'Monospaced', sans-serif;
  top: -55%;
  left: -05%;
}

.quotation-marks {
  position: relative;
}

span::after {
  content: "\201D";
  font-size: 120px;
  color: rgba(255, 255, 255, 0.15);
  font-family: 'Monospaced', sans-serif;
  position: absolute;
  top: 35%;
  left: 55%;
}


