<div class="space-y-4">
  <div class="title">
          <span class="highlight py-2 px-4 font-semibold">
            Bildung
          </span>
  </div>

  <div class="space-y-4 divide-y">
    <div class="space-y-2">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://www.tu-dortmund.de/" target="_blank" class="flex space-x-2 cursor-pointer hover:font-semibold">
          <div>
            TU Dortmund
          </div>
          <fa-icon [icon]="link" class="text-gray-500"></fa-icon>
        </a>
        <div>April 2018 - Juli 2020</div>
      </div>
      <div class="font-semibold">Master of Science in Informatik</div>
      <div>
        LiveDocs: Document-Centric Process Management
      </div>
    </div>

    <div class="space-y-2 pt-4">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://www.tu-dortmund.de/" target="_blank" class=" hover:font-semibold flex space-x-2 cursor-pointer">
          <div>
            TU Dortmund
          </div>
          <fa-icon [icon]="link" class="text-gray-500"></fa-icon>
        </a>
        <div>Oktober 2014 - Mai 2018</div>
      </div>
      <div class="font-semibold">Bachelor of Science in Informatik</div>
      <div>
        Graphische Modellierung von Cinco Produktspezifikationen
      </div>
    </div>

   <!-- <div class="space-y-3 pt-4">
      <div class="flex justify-between text-xs"> &lt;!&ndash; where when &ndash;&gt;
        <div>Riesener Gymnasium Gladbeck
          <fa-icon [icon]="link" class="text-gray-600"></fa-icon>
        </div>
        <div>2006 - Juni 2014</div>
      </div>
      <div class="font-semibold">Allgemeine Hochschulreife (Abitur)</div>
    </div>-->


  </div>

</div>
