<div class="space-y-4">
  <div [ngClass]="{'title-dark': isDarkTheme, 'title': !isDarkTheme}">
          <span class="py-2 px-4 font-semibold">
            Berufserfahrung
          </span>
  </div>
  <div class="space-y-4 divide-y">
    <div class="space-y-2">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://corporate.douglas.de/home/" target="_blank" class=" hover:font-semibold flex space-x-2 cursor-pointer">
          <div>
            Parfümerie Douglas GmbH
          </div>
          <fa-icon [icon]="link" class="text-gray-500 dark:text-gray-300"></fa-icon>
        </a>
        <div>Mai 2021 - heute</div>
      </div>
      <div class="font-semibold">Junior Frontend Entwicklerin</div>
      <div>Entwicklung und Weiterentwicklung von internationalen CRM Produkten wie Kassensysteme und Kundenmanagement.
      </div>
      <div class="skills">
        <div class="p-1">
          #Angular
        </div>
        <div class="p-1">
          #TypeScript
        </div>
        <div class="p-1">
          #tailwindcss
        </div>
        <div class="p-1">
          #Cypress
        </div>
      </div>
    </div>

    <div class="space-y-2 pt-4">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://www.tu-dortmund.de/" target="_blank" class="hover:font-semibold flex space-x-2 cursor-pointer">
          <div>
            TU Dortmund
          </div>
          <fa-icon [icon]="link" class="text-gray-500 dark:text-gray-300"></fa-icon>
        </a>
        <div>August 2020 - April 2021</div>
      </div>
      <div class="font-semibold">Wissenschaftliche Mitarbeiterin</div>
      <div>Entwicklung von DSLs inkl. Modeltransformation mit MPS,
         Weiterentwicklung von bestehenden DSLs mit Fokus auf UI/UX.</div>
      <div class="skills">
        <div class="p-1">
          #Java
        </div>
        <div class="p-1">
          #Xtend
        </div>
        <div class="p-1">
          #MPS
        </div>
        <div class="p-1">
          #Graphiti
        </div>
        <div class="p-1">
          #Eclipse
        </div>
      </div>
    </div>

    <div class="space-y-2 pt-4">
      <div class="flex justify-between items-center text-xs"> <!-- where when -->
        <a href="https://www.tu-dortmund.de/" target="_blank" class="hover:font-semibold flex space-x-2 cursor-pointer">
          <div>
            TU Dortmund
          </div>
          <fa-icon [icon]="link" class="text-gray-500 dark:text-gray-300"></fa-icon>
        </a>
        <div>Juni 2016 - Juli 2020</div>
      </div>
      <div class="font-semibold">Studentische/Wissenschaftliche Hilfskraft</div>
      <div>Weiterentwicklung von DSLs durch Views, Validierung oder nutzerfreundlichem Design.</div>
      <div class="skills">
        <div class="p-1">
          #Java
        </div>
        <div class="p-1">
          #Xtend
        </div>
        <div class="p-1">
          #Graphiti
        </div>
        <div class="p-1">
          #Eclipse
        </div>
        <div class="p-1">
          #JUnit
        </div>
      </div>
    </div>
  </div>
</div>
