<div class="space-y-4">
  <div class="title">
          <span class="highlight py-2 px-4 font-semibold">
            Fähigkeiten
          </span>
  </div>
  <!-- languages -->
  <div class="space-y-2">
    <div class="subtitle">Sprachen</div>
    <div class="space-y-1">
      <div class="flex justify-between items-center">
        <div>Deutsch</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4]"
               class="primary-bg-color w-4 h-4 rounded-md">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>Englisch</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 4, 'bg-lighter-cyan': i >= 4}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- programmiersprachen -->
  <div class="space-y-2">
    <div class="subtitle">Programmier-/Markupsprachen</div>
    <div class="space-y-1">
      <div class="flex justify-between items-center">
        <div>HTML/CSS</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 4, 'bg-lighter-cyan': i >= 4}">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>Typescript</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 4, 'bg-lighter-cyan': i >= 4}">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>Java</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 3, 'bg-lighter-cyan': i >= 3}">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>Xtend</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 3, 'bg-lighter-cyan': i >= 3}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- frameworks--->
  <div class="space-y-2">
    <div class="subtitle">Frameworks</div>
    <div class="space-y-1">
      <div class="flex justify-between items-center">
        <div>Angular</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 3, 'bg-lighter-cyan': i >= 3}">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>AngularDart</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 2, 'bg-lighter-cyan': i >= 2}">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>tailwindcss</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 4, 'bg-lighter-cyan': i >= 4}">
          </div>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <div>Bootstrap</div>
        <div class="flex space-x-2">
          <div *ngFor="let i of [0,1,2,3,4];"
               class="w-4 h-4 rounded-md"
               [ngClass]="{'primary-bg-color': i < 3, 'bg-lighter-cyan': i >= 3}">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
