<div class="space-y-4 space-x-2">
  <div class="title">
          <span class="highlight py-2 px-4 font-semibold">
            Hobbies
          </span>
  </div>

  <div class="flex flex-wrap space-x-6">
    <div>
      <img width="32" src="assets/dancing.png" alt="dancing">
    </div>
    <div>
      <img  width="32" src="assets/ukulele.png" alt="ukulele">
    </div>
    <div>
      <img  width="32" src="assets/programming.png" alt="programming">
    </div>
    <div>
      <img  width="32" src="assets/walking.png" alt="walking">
    </div>
  </div>
</div>
